/*This CSS doc will be used to add styling to the menu.html file.*/

/*Jumbotron css*/
	/*Photo by Elli O. on Unsplash*/
	.jumbotron{
		background: url('images/elli-o.jpg') no-repeat center center;
		background-size: cover;
	}

	.jumbotron-text{
		color: white;
		padding-bottom: 20px;
		padding-right: 60%;
		padding-top: 10px;
		padding-left: 30px;
	}

/*Menu css*/
	#menuitems{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		background-color: #D6BC81;
		margin-top: -30px;
		padding-bottom: 40px;
	}

	.col-md-4{
		padding-right: 20px;
		text-align: center;
	}

	img{
		width: 250px;
		height: 250px;
		padding-bottom: 20px;
		align-content: center;
	}

	.comboinfo{
		padding: 10px;
		text-align: center;
	}

	th{
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}

/*Footer css*/
	#contactus{
		background-color: black;
		margin-top: -30px;
		padding-bottom: 20px;
		padding-top: 10px;
		padding-left: 50px;
		padding-right: 30px;
		color: silver;
	}

	#contactinfo{
		vertical-align: center;
	}

	#map{
		text-align: center;
	}
