body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
  font-size: 3em;
}

.btn{
    text-shadow: none;
    background-color: #00004c;
    color: white;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.bg-1 { 
    background: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-0.3.5&s=c4218913271b5a8e9c01b410bb065378&auto=format&fit=crop&w=1650&q=80'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.bg-2 { 
    /*background-color: #00004c;*/
    background-size: cover;
    /*color: black;*/
    padding: 0 100px;
}

.bg-3 { 
    background-color: #F7BE00;
    color: white;
    padding: 0 40px;
    min-height: 100%;
    height: 100%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-text{
  padding-top: 20%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  color: white;
}

#splhead{
  font-weight: 700;
  font-size: 5em;
  padding-top: 20%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
  color: white;
}

.avatar{
  width: 100%;
}

#cards{
  padding-bottom: 30px;
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
